<h2 class="section-title">{{ .titles.about }}</h2>

<p><strong>¿Te has quedado sin entradas para la #SCPNA18?</strong></p>

<p>Muchos hemos sido los que nos hemos quedado sin poder ir a la <strong>maravillosa</strong>
  <a href="http://pamplonaswcraft.com/">Pamplona softaware crafters</a>. Igual que tú, no
  queremos quedarnos sin disfrutar de buena compañia y de pamplona ese fin de semana. Por ello vamos a organizar un
  evento ese mismo sábado.</p>

<p>La idea es sencilla, un open space al más puro estilo <a href="http://theantievent.org/">Antievent</a>
  Después quedaremos con el resto de crafters para irnos todos juntos de fiesta.</p>

<p>Dado que el local nos lo cede el <a href="http://www.gremiocarniceros.com/">gremio de carniceros</a>,
  la idea es comer varios entrantes sencillos y algún cochinillo/cabritillo/corderito.
  Si prefieres una <stronh>dieta sin carne</stronh>, no te preocupes, algo haremos (pero avisanos).</p>

<p>Es un evento allFriendly, nadie será discriminado por ningún motivo.</p>

<p>¿Por qué <strong>butchers</strong>?</p>

<p>Simplemente porque el gremio de carniceros nos cede el local y la relación entre
  crafters y butchers es obvia. Entre gremios anda el juego.</p>

<p>Para más info puedes contactar con <a href="https://www.twitter.com/viroide">@Viroide</a></p>

