<h2 class="section-title">{{ .titles.contact }}</h2>

<p>Las entradas están ya disponibles. Por ahora no hay precio, ya que simplemente pagaremos los gastos a escote,
 de todas formas debería rondar los 30€. Tampoco hay plazas máximas, dado que no creemos que nos vayamos a juntar demasiados,
 pero nos reservamos el derecho a poner la linea de corte donde creamos conveniente.</p>

<p>Para conseguir una plaza simplemente rellena este formulario. Los asistentes se actualizarán en tiempo real en esta
  <a href="https://docs.google.com/spreadsheets/d/1YYHatadrvrPIyyVXBdEaihFAje_w9VfWK-0UVXol_8I/edit?usp=sharing">hoja de cálculo</a>.
  <strong>¡Tu cuenta de twitter será publica!</strong>
</p>

<p>¿Quieres reservar plaza pero que tus datos no se hagan publicos? Contacta con <a href="//twitter.com/viroide">@Viroide</a></p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd5Fj0LwkO_T63OSUUlVbdO-aI0UQ1ke7ziE22KzAKgqHFTFw/viewform?embedded=true"
        width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">
  Loading...
</iframe>
